<dialog #editProductDialog class="product-modal"> <!-- Az osztálynév maradhat, ha ugyanazt a CSS-t használjuk -->
  <h3 class="modal-title">Termék módosítása</h3>
  <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="onSubmit()" class="modal-form">
    <div class="form-group">
      <label for="edit-name" class="form-label">Termék neve:</label>
      <input id="edit-name" type="text" formControlName="name" class="form-control"
             [ngClass]="{ 'input-error': productForm.get('name')?.invalid && productForm.get('name')?.touched }">
      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error-message">
        A termék neve kötelező.
      </div>
    </div>

    <div class="form-group">
      <label for="edit-price" class="form-label">Ár (Ft):</label>
      <input id="edit-price" type="number" formControlName="price" class="form-control"
             [ngClass]="{ 'input-error': productForm.get('price')?.invalid && productForm.get('price')?.touched }">
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error-message">
        <span *ngIf="productForm.get('price')?.errors?.['required']">Az ár kötelező.</span>
        <span *ngIf="productForm.get('price')?.errors?.['min']">Az ár nem lehet negatív.</span>
      </div>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label for="edit-color" class="form-label">Szín:</label>
      <input id="edit-color" type="text" formControlName="color" class="form-control">
    </div>

    <!-- Length -->
    <div class="form-group">
      <label for="edit-length" class="form-label">Hossz:</label>
      <input id="edit-length" type="number" formControlName="length" class="form-control">
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="edit-description" class="form-label">Leírás:</label>
      <textarea id="edit-description" formControlName="description" class="form-control" rows="3"></textarea>
    </div>

    <!-- ImageUrl -->
    <div class="form-group">
      <label for="edit-imageUrl" class="form-label">Kép URL:</label>
      <input id="edit-imageUrl" type="text" formControlName="imageUrl" class="form-control">
    </div>

    <!-- Stock -->
    <div class="form-group">
      <label for="edit-stock" class="form-label">Készlet:</label>
      <input id="edit-stock" type="number" formControlName="stock" class="form-control">
    </div>


    <div class="modal-actions">
      <button type="button" (click)="closeModal()" class="button-secondary">Mégse</button>
      <button type="submit" [disabled]="productForm.invalid" class="button-primary">Módosítások mentése</button>
    </div>
  </form>
</dialog>
